// Colors
$white: #fff;
//$background-color: #fafafa;
$body-color: #101;
// TODO name this color, and define function in class
$warm-accent-color: #ff2727;
// $link-color: #4b9be9; i like this color //
// TODO name this color, and define function in class
// TODO i want a different link color???
$link-color: #176abe;
$muted: #4c4c4c;
// green
$success-green: #29b473;
// yellow
$grandis: #ffd390;
