// Media Querries

@media (min-width: 640px) {
  .about,
  .posts {
    p { font-size: 1.375rem; }
  }
}


@media (max-width: 980px) {
  .sb-nav {
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
  }
}
