/* Print SCSS
 * Shawn Eisenach
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */


/* Setup
==================== */

body {
    margin: .25in .5in .25in 1in;
	font: 14pt Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
}

.hide_print { display: none; }


/* hide stuff for printing
==================== */

#Masthead,
.menu { display: none; }


/* Typography
==================== */

h1 {
font-size: 24pt;
}

h2 {
font-size: 14pt;
margin-top: 25px;
}

aside h2 {
font-size: 18pt;
}

/* links 
==================== */

a {
	color: #000;
}

p a {
	word-wrap: break-word;
}

p a[href^="http://"]:after, a[href^="https://"]:after{
content: " (" attr(href) ")";
font-size: 80%;
}

p a[href^="#"]:after {
display: none;
}

/* lists 
==================== */
li { margin-bottom: .5em; }