/* New sass for wholewheattoast
** Shawn Eisenach
*/

/* Variabls
==============================*/
$font-size: 1.3125em;
$line-height: 1.5em;
$baseFontFamily: Helvetica, sans-serif;
$background-color: #fafafa;
$masthead-accent-color: black;
$color: black;
$warm_accent_color: #ff2727;

$black: #000;
$success-green: #29B473;

$link-color: $black;  /* change this */


/* helpers
==============================*/

.tight { margin: 0; }

/* bootstrap overrides
==============================*/
.row-fluid, .row { margin-bottom: 1.25em; }

/* main
==============================*/

body {
	font-size: $font-size;
	color: $color;
	line-height: $line-height;
	background-color: $background-color;
}

#custom.container {
	width: 90%;
}

/* Links
==============================*/

#custom a {
	color: $link-color;
	font-weight: bold;
}

#custom a:hover {
	text-decoration: underline;
}

/* Typography
==============================*/

h1, h2, h3, h4, h5, h6 {
	color: #110011;
}

#custom h1 {
	font-size: 4em;
	line-height: 1em;
}

#custom h2 {
	font-size: 3em;
	line-height: 1em;
	border-bottom: 4px solid $black;
}

/* Lists
==============================*/

li {
	margin-bottom: .5em;
  line-height: $line-height;
}

/* Misc
==============================*/

.accent { color: $warm_accent_color; }

/* Masthead
==============================*/
.masthead { 
	background-color: $masthead-accent-color;
	margin-bottom: 1.75em;
	h1 { padding-bottom: .25em; }
	.row, .row-fluid { margin-bottom: 0; }
	.span8 { background-color: $background-color; }
	ul { margin: 0; }
	}
.small-masthead {
	margin-top: 2em;
}

/* Sketchbooks
==============================*/

.sketchbook_container { margin-top: 4em; }
.sketchbook-container { position: relative; }
.sketchbook-image { max-width: 100%; }
.sketchbook-container .over {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
	bottom: 0;
	z-index: 3;
	opacity: 0;
	width: 100%;
	background-color: $background-color;
	-moz-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
  	transition: opacity 1s ease;
  	dd { margin-left: 0; }
  	dt {display: none;}
  }

a .over:hover { opacity: .88; }

/* About
==============================*/
.about-dent { 
	p { font-size: 1.125em; }
	margin-bottom: 2.5em; }


/* Works
==============================*/

/* Teaching
==============================*/

@import "media-queries";