/* New sass for wholewheattoast
** Shawn Eisenach
*/

/* Variabls
==============================*/
$font-size: 1em;
$baseFontFamily: Helvetica, sans-serif;
$background-color: #fafaf5;
$masthead-accent-color: black;

$success-green: #29B473;

$link-color: black;  /* change this */

/* helpers
==============================*/

#custom .bottom-padding {
	padding-bottom: 1.5dem;
}

.tight { margin: 0; }

/* bootstrap overrides
==============================*/
.row-fluid, .row { margin-bottom: 1.25em; }

/* main
==============================*/

body {
	font-size: $font-size;
	background-color: $background-color;
}

#custom a {
	color: $link-color;
	font-weight: bold;
}

#custom a:hover {
	text-decoration: underline;
}

/* Masthead
==============================*/
.masthead { 
	background-color: $masthead-accent-color;
	margin-bottom: 1.75em;
	h1 { padding-bottom: .25em; }
	.row, .row-fluid { margin-bottom: 0; }
	.span8 { background-color: $background-color; }
	ul { margin: 0; }
	}
.small-masthead {
	margin-top: 2em;
}

/* Sketchbooks
==============================*/

.sketchbook_container { margin-top: 4em; }

/* About
==============================*/
.about-dent { 
	p { font-size: 1.125em; }
	margin-bottom: 2.5em; }


/* Works
==============================*/

@import "media-queries";