//
//  SASS for wholewheattoast.com
//  Shawn Eisenach
//

@import 'bootstrap-custom';

// Variables
$font-size: 18px;
$line-height: 27px;  // (font-size * 1.5)
$basline-grid: 6px;

// Colors
$white: #fff;
//$background-color: #fafafa;
$body-color: #101;
// TODO name this color, and define function in class
$warm-accent-color: #ff2727;
// $link-color: #4b9be9; i like this color //
// TODO name this color, and define function in class
$link-color: #176abe;
$muted: #4c4c4c;
// green
$success-green: #29b473;
// yellow
$grandis: #ffd390;


html { font: 1em/1.5 helvetica, sans-serif; }

body {
  background-color: $white;
  color: $body-color;
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

// set up vertical spacing
// via http:/*csswizardry.com/2012/06/single-direction-margin-declarations/

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr { margin-bottom: 1.5rem; }

a,
a:visited {
  color: $body-color;
  outline: 0;
  text-decoration: underline;
  transition: color .25s;
  &.bare-link {
    color: $body-color;
    text-decoration: none;
    }
}

a:hover,
a:focus {
  color: $link-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 { color: $body-color; }

h1 { font-size: 1.5em; }

h2 { font-size: 1.25em; }

h3 { font-size: 1em; }

li { margin-bottom: .5em; }

.inline_dl dt {
  clear: left;
  float: left;
  margin: 0 2rem 0 0;
  text-align: right;
}

.inline_dl dd { margin: 0 0 .5rem; }

img {
  display: block;
  height: auto;
  max-width: 100%;
}


// color
.accent { color: $warm-accent-color; }

// buttons
.btn-paypall {
  background-color: $grandis;
  border: 0;
}

// helpers
.center_text { text-align: center; }
.tight { margin: 0; }
.margin_top { margin-top: 1.5rem; }
.margin_top_more { margin-top: 3rem; }
.margin_bottom { margin-bottom: 1.5rem; }
.margin_bottom_more { margin-bottom: 3rem; }

// grid fixes
// This is to allow using bootstrap syntax on li without junking
// up the markup with all those extra rows.
.list-grid {
  p,
  li { margin-bottom: 2em; }
}


// site header and footer
.site_header {
  a { color: $body-color; }
  h1 { margin-bottom: 1rem; }

  .logo {
    display: inline;
    width: 100px;
    }

  nav {
    a { font-weight: normal; }
    a:hover,
    a:focus {
      color: $body-color;
      text-decoration: underline;
    }

    li {
      display: inline;
      font-size: 1.75rem;
      margin-right: 1rem;
    }

    li:last-child { margin-right: 0; }
  }
}

.site_footer {
  margin-top: 6em;
}

// is this used anywhere?
.menu li { display: inline; }

.main_body {
  margin-bottom: 2rem;
  margin-top: .5rem;
  }

// Posts
.post {
  font-size: 1.25rem;
  margin-bottom: 1.125rem;

  .permalink {
    color: $muted;
    a { color: $muted; }
    a:hover,
    a:focus {
      border-bottom: solid;
      text-decoration: none;
    }
  }

  footer { margin-top: 1rem; }
}

#blog-pagination { margin-top: 2rem; }

.tag,
.tag:focus,
.tag:hover,
.tag:visited {
  //background-color: $body-color;
  //border-radius: 2px;
  //color: $white;
  //padding: 4px 6px;
}

.tag:after {
  content: ',';
}

.tag:last-of-type:after {
  content: '';
}


// Sketchbooks
.sketchbook_index {
  li {
    display: inline;
    padding: .75em;
  }
}

.sb_index {
  h2 { text-transform: capitalize; }
}

.sketchbook_page {
  h2 {
    font-size: 16px;
    text-transform: capitalize;
  }

  h3 { font-size: 1em; }

  .inline_dl {
    font-size: .85rem;
    dd { margin: 0 0 .5rem 6rem;}
    dt {
      font-weight: normal;
      margin: 0;
      width: 2em;
    }
  }
}

.sb-nav {
  position: fixed;
  right: 2em;
  top: calc(50% - 4em);
}


// Publications
#Portfolio {
  .color-block {
    font-size: 1.5rem;

    li { height: 8em; }

    span {
      display: inline-block;
      margin: 1.5em 2em;
      padding: 1em;
    }
  }
}

.bg-om2014 {
  background-image: url('/image/portfolio/mail2014/om-2014-07-14-crop.jpg');
  span { background-color: $white; }
}

.bg-om2013 { background-color: #e69340; }

.bg-ncd2013 {
  background-color: #e10926;
  span { margin: 1.5em 1.75em !important; }
}

.bg-comics2013 { background-color: #52ad14; }
.bg-qs-b-2016 {
  background-image: url('/image/drawing/quarter_sheet/qs-crop.gif');
  span { background-color: $white; }
}

// portfolio block
.portfolio-block {
  font-size: 1.5rem;

  li { height: 8em; }

  span {
    display: inline-block;
    margin: 1.5em 2em;
    padding: 1em;
  }
}

// TODO these layouts are exactly the same.
// Concat and update pages
#Comics_page,
#NCD_page {
  h1,
  .nav_with_index { text-align: right; }
}

// Shop
.item h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

form.cart { display: inline-block; }

@import 'grid';
@import 'media-queries';
// @import 'media-object';
