
_posts/.DS_Store

*.scssc

.DS_Store

mint/config/db.php

_site/*

_posts/css/screen.css

_posts/image/publications/milk_boy/milk_boy_fc.png

scripts/tumblr_api_tests.py

css/screen.css

.Python

bin/

lib/

include/

*.pyc
