.jekyll-metadata
*.scssc
.DS_Store
mint/config/db.php
_site/*
_posts/css/screen.css
_posts/image/publications/milk_boy/milk_boy_fc.png
css/
.Python
bin/
lib/
include/
*.pyc
scripts/tumblr_jekyll.ini
scripts/instagram-sync.ini

.com.apple.backupd.mdmv36926116
