.DS_Store
.jekyll-metadata
.nova/
.tool-versions
*.scssc
mint/config/db.php
_site/*
_posts/css/screen.css
_posts/image/publications/milk_boy/milk_boy_fc.png
css/*
.Python
bin/
lib/
include/
*.pyc
image-processed/
scripts/tumblr_jekyll.ini
scripts/instagram-sync.ini
scripts/twitter-sync.ini

.com.apple.backupd.mdmv36926116

.python-version
.vscode/

node_modules/
