---
layout: base_full_width
title: {{sb_name}}
description: {{sb_name}} sketchbook
stub: sketchbooks/{{sb_name}}/index.html
date: 
dimensions:
---

<h2>{{sb_name}}</h2>

<ol class="list-unstyled">
  {{#sb_spreads}}
    <li class="col-xs-4 col-md-3">
      <a href="/sketchbooks/{{spread_name}}.html">
        <img src="/{{image_dir}}/thumbs/{{spread_name}}.jpg" />
      </a>
    </li>
  {{/sb_spreads}}
</ol>

