---
layout: base_grid
title: {{sb_display_name}}
description: {{sb_display_name}} sketchbook
stub: sketchbooks/{{sb_url_safe_name}}/index.html
nav-1: sketchbooks
---

<article class="item-grid">
  <header class="item-header">
    <h1>{{sb_display_name}}</h1>
    {{#metadata}}
    <p>{{date}}</p>
    {{/metadata}}
  </header>

  {{#sb_spreads}}
    <div class="item-panel">
      <a href="/sketchbooks/{{sb_url_safe_name}}/{{sb_url_safe_name}}-{{spread}}.html"
        title="{{sb_display_name}} {{spread}}">
        <img
          src="/{{image_dir}}/{{sb_url_safe_name}}-{{spread}}-thumb.jpg"
          title="{{sb_display_name}} {{spread}}"
          alt="Link to {{sb_display_name}} {{spread}}"
        />
      </a>
    </div>
  {{/sb_spreads}}
</article>
