---
layout: base_grid
title: {{sb_display_name}} {{spread}}
stub: sketchbooks/{{sb_url_safe_name}}/{{ file-name}}
nav-1: sketchbooks
---

<article itemscope itemtype="http://schema.org/VisualArtwork" class="sketchbook-page">
  <h2 itemprop="name">
    <a class="bare-link" href="/sketchbooks/{{sb_url_safe_name}}/index.html">
      {{sb_display_name}}
    </a> | {{spread}}
  </h1>

  <p>
    <img
      srcset="
        /image/sketchbooks/{{sb_url_safe_name}}/{{sb_url_safe_name}}-{{spread}}-thumb.jpg 384w,
        /image/sketchbooks/{{sb_url_safe_name}}/{{sb_url_safe_name}}-{{spread}}.jpg 720w,
        /image/sketchbooks/{{sb_url_safe_name}}/{{sb_url_safe_name}}-{{spread}}@2x.jpg 1440w
      "
      itemprop="image"
      src="/image/sketchbooks/{{sb_url_safe_name}}/{{sb_url_safe_name}}-{{spread}}.jpg"
      title="{{sb_display_name}} {{spread}}"
      alt=""
    />
  </p>

  <nav>
    <ul class="list-unstyled sb-nav">
      <li>
        <a href="{{sb_url_safe_name}}-{{prev}}.html" rel="prev" title="prev">prev | {{prev}}</a>
      </li>
      <li>
        <a href="index.html" title="index">index</a>
      </li>
      <li>
        <a href="{{sb_url_safe_name}}-{{next}}.html" rel="next" title="next">next | {{next}}</a>
      </li>
    </ul>
  </nav>
</article>
