      <!-- Hi I'm a Partial -->
      
      <section class="col-md-6 col-sm-6" itemscope itemtype="http://schema.org/VisualArtwork">
        <h3 itemprop="name">{{sb_display_name}} | {{page_number}}</h3>
        <dl class="inline_dl">
          {{#created}}<dt>Date:</dt><dd><time itemprop="dateCreated" datetime="{{created}}">{{created}}</time></dd>{{/created}}
          {{#earliest_date}}<dt>Earliest Date:</dt><dd><time itemprop="dateCreated" datetime="{{earliest_date}}">{{earliest_date}}</time></dd>{{/earliest_date}}
          {{#latest_date}}<dt>Latest Date:</dt><dd><time itemprop="dateCreated" datetime="{{latest_date}}">{{latest_date}}</time></dd>{{/latest_date}}
          {{#contributor}}<dt>contributor:</dt><dd><span itemprop="contributor">{{contributor}}</span></dd>{{/contributer}}
          {{#location}}<dt>Location:</dt><dd><span itemprop="locationCreated">{{location}}</span></dd>{{/location}}
          {{#medium}}<dt>Medium:</dt><dd><span itemprop="artform">{{medium}}</span></dd>{{/medium}}
          {{#description}}<dt>Description:</dt><dd itemprop="description">{{description}}</dd></dd>{{/description}}
          {{#subject}}<dt>Subject:</dt><dd><span itemprop="about">{{subject}}</span></dd>{{/subject}}
          {{#transcription}}<dt>Transcription:</dt><dd><span itemprop="text">{{transcription}}</span></dd>{{/transcription}}
        </dl>
      </section>
