---
layout: post
title: {{title}}
date: {{date}}
tags: {{tags}}
tumblr_url: {{tumblr_url}}
source_url: {{source_url}}
tumblr_img_permalink: {{img_permalink}}
tumblr_post_typie: {{tumblr_post_type}}
tumblr_post_id: {{tumblr_post_id}}
---

{{#photos}}
  <p>
    <img src="/image/posts/{{img}}" alt="Image for {{title}}" title="{{title}}" />
  </p>
{{/photos}}

{{{caption}}}


