---
layout: post
title: {{title}}
tags: {{formated_tags}}
date: {{date}}
---

<!--
  tumblr_reblog_key: {{reblog_key}}
  tumblr_id: {{id}}
  tumblr_post_url: {{post_url}}
  tumblr_image_permalink: {{image_permalink}}
  tumblr_format: {{format}}
  tumblr_type: {{type}}
  tumblr_tags: {{tags}}
  tumblr_date: {{date}}
  tumblr_slug: {{slug}}
  tumblr_blog_name: {{blog_name}}
  tumblr_photos: {{photos}}
  tumblr_link_url: {{link_url}}
  tumblr_caption: {{ caption | escape }}
-->


{{#photos}}
  <p>
    <img src="/image/posts/{{img}}" alt="" title="{{title}}" />
  </p>
{{/photos}}

{{{caption}}}


