---
layout: post
title: {{title}}
date: {{date}}
tags: {{tags}}
tumblr_url: {{tumblr_url}}
source_url: {{source_url}}
tumblr_img_permalink: {{tumblr_img_url}}
---
<p><img src="/image/posts/{{img}}" alt="Img for {{title}}" title="{{title}}" />

{{{caption}}}


