/* Print SCSS
 * Shawn Eisenach
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Setup
==================== */
@page {
  margin: 0.5cm;
}

/* line 13, ../../sass/print.scss */
body {
  font: 12pt Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

/* line 18, ../../sass/print.scss */
.hide_print {
  display: none;
}

/* Typography
==================== */
/* line 24, ../../sass/print.scss */
h1 {
  font-size: 24pt;
}

/* line 28, ../../sass/print.scss */
h2 {
  font-size: 14pt;
  margin-top: 25px;
}

/* line 33, ../../sass/print.scss */
aside h2 {
  font-size: 18pt;
}

/* links 
==================== */
/* line 40, ../../sass/print.scss */
a {
  color: #000;
}

/* line 44, ../../sass/print.scss */
p a {
  word-wrap: break-word;
}

/* line 48, ../../sass/print.scss */
p a[href^="http://"]:after, a[href^="https://"]:after {
  content: " (" attr(href) ")";
  font-size: 80%;
}

/* line 53, ../../sass/print.scss */
p a[href^="#"]:after {
  display: none;
}
