/* New sass for wholewheattoast
** Shawn Eisenach
*/
/* Variabls
==============================*/
/* change this */
/* helpers
==============================*/
/* line 18, ../../sass/screen.scss */
#custom .bottom-padding {
  padding-bottom: 1em;
}

/* bootstrap overrides
==============================*/
/* main
==============================*/
/* line 28, ../../sass/screen.scss */
body {
  font-size: 1em;
  background-color: #fafaf5;
}

/* line 33, ../../sass/screen.scss */
#custom a {
  color: black;
  font-weight: bold;
}

/* line 38, ../../sass/screen.scss */
#custom a:hover {
  text-decoration: underline;
}

/* Sketchbooks
==============================*/
/* About
==============================*/
/* Works
==============================*/
/* Media Querries
============================================== */
/* 480px Smartphones */
@media (max-width: 480px) {
  /* line 7, ../../sass/_media-queries.scss */
  body {
    overflow: hidden;
    /*padding: 1em .25em 2em 1.25em; */
  }

  /* line 12, ../../sass/_media-queries.scss */
  h3 {
    font-size: 1.25em;
  }

  /* line 14, ../../sass/_media-queries.scss */
  ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: .125em;
    padding-left: .125em;
  }

  /* line 20, ../../sass/_media-queries.scss */
  .container-narrow {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 26, ../../sass/_media-queries.scss */
  .container-narrow > hr {
    margin: 1.25em 0;
  }

  /* line 30, ../../sass/_media-queries.scss */
  li {
    padding-bottom: .5em;
  }
}
/* 767 "smartphones and small tablets
========================================= */
/* 768 Portrait tablets
========================================= */
/* ~1100px
========================================= */
/*retnia
========================================= */
