/* New sass for wholewheattoast
** Shawn Eisenach
*/
/* Variabls
==============================*/
/* change this */
/* helpers
==============================*/
/* line 19, ../../sass/screen.scss */
#custom .bottom-padding {
  padding-bottom: 1.5dem;
}

/* line 23, ../../sass/screen.scss */
.tight {
  margin: 0;
}

/* bootstrap overrides
==============================*/
/* line 27, ../../sass/screen.scss */
.row-fluid, .row {
  margin-bottom: 1.25em;
}

/* main
==============================*/
/* line 32, ../../sass/screen.scss */
body {
  font-size: 1em;
  background-color: #fafaf5;
}

/* line 37, ../../sass/screen.scss */
#custom a {
  color: black;
  font-weight: bold;
}

/* line 42, ../../sass/screen.scss */
#custom a:hover {
  text-decoration: underline;
}

/* Masthead
==============================*/
/* line 48, ../../sass/screen.scss */
.masthead {
  background-color: black;
  margin-bottom: 1.75em;
}
/* line 51, ../../sass/screen.scss */
.masthead h1 {
  padding-bottom: .25em;
}
/* line 52, ../../sass/screen.scss */
.masthead .row, .masthead .row-fluid {
  margin-bottom: 0;
}
/* line 53, ../../sass/screen.scss */
.masthead .span8 {
  background-color: #fafaf5;
}
/* line 54, ../../sass/screen.scss */
.masthead ul {
  margin: 0;
}

/* line 56, ../../sass/screen.scss */
.small-masthead {
  margin-top: 2em;
}

/* Sketchbooks
==============================*/
/* line 63, ../../sass/screen.scss */
.sketchbook_container {
  margin-top: 4em;
}

/* About
==============================*/
/* line 67, ../../sass/screen.scss */
.about-dent {
  margin-bottom: 2.5em;
}
/* line 68, ../../sass/screen.scss */
.about-dent p {
  font-size: 1.125em;
}

/* Works
==============================*/
/* Media Querries
============================================== */
/* height
===================================== */
@media (max-height: 670px) {
  /* line 7, ../../sass/_media-queries.scss */
  .sketchbook_container {
    margin-top: 2em;
  }
}
/* 480px Smartphones */
@media (max-width: 480px) {
  /* line 13, ../../sass/_media-queries.scss */
  body {
    overflow: hidden;
    /*padding: 1em .25em 2em 1.25em; */
  }

  /* line 18, ../../sass/_media-queries.scss */
  .masthead {
    background-color: #fafaf5;
  }

  /* line 20, ../../sass/_media-queries.scss */
  h1 {
    font-size: 2em;
  }

  /* line 22, ../../sass/_media-queries.scss */
  h3 {
    font-size: 1.25em;
  }

  /* line 24, ../../sass/_media-queries.scss */
  ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: .125em;
    padding-left: .125em;
  }

  /* line 30, ../../sass/_media-queries.scss */
  .container-narrow {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 36, ../../sass/_media-queries.scss */
  .container-narrow > hr {
    margin: 1.25em 0;
  }

  /* line 40, ../../sass/_media-queries.scss */
  li {
    padding-bottom: .5em;
  }
}
/* 767 "smartphones and small tablets
========================================= */
/* 768 Portrait tablets
========================================= */
/* ~1100px
========================================= */
/*retnia
========================================= */
