/* New sass for wholewheattoast
** Shawn Eisenach
*/
/* Variabls
==============================*/
/* change this */
/* helpers
==============================*/
/* line 20, ../../sass/screen.scss */
.tight {
  margin: 0;
}

/* bootstrap overrides
==============================*/
/* line 24, ../../sass/screen.scss */
.row-fluid, .row {
  margin-bottom: 1.25em;
}

/* main
==============================*/
/* line 29, ../../sass/screen.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
  background-color: #fafaf5;
}

/* line 35, ../../sass/screen.scss */
#custom a {
  color: black;
  font-weight: bold;
}

/* line 40, ../../sass/screen.scss */
#custom a:hover {
  text-decoration: underline;
}

/* line 44, ../../sass/screen.scss */
li {
  line-height: 1.5em;
}

/* Masthead
==============================*/
/* line 50, ../../sass/screen.scss */
.masthead {
  background-color: black;
  margin-bottom: 1.75em;
}
/* line 53, ../../sass/screen.scss */
.masthead h1 {
  padding-bottom: .25em;
}
/* line 54, ../../sass/screen.scss */
.masthead .row, .masthead .row-fluid {
  margin-bottom: 0;
}
/* line 55, ../../sass/screen.scss */
.masthead .span8 {
  background-color: #fafaf5;
}
/* line 56, ../../sass/screen.scss */
.masthead ul {
  margin: 0;
}

/* line 58, ../../sass/screen.scss */
.small-masthead {
  margin-top: 2em;
}

/* Sketchbooks
==============================*/
/* line 65, ../../sass/screen.scss */
.sketchbook_container {
  margin-top: 4em;
}

/* line 66, ../../sass/screen.scss */
.sketchbook-container {
  position: relative;
}

/* line 67, ../../sass/screen.scss */
.sketchbook-image {
  max-width: 100%;
}

/* line 68, ../../sass/screen.scss */
.over {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  width: 100%;
  background-color: #fafaf5;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
/* line 82, ../../sass/screen.scss */
.over dd {
  margin-left: 0;
}

/* line 85, ../../sass/screen.scss */
a .over:hover {
  opacity: .88;
}

/* About
==============================*/
/* line 89, ../../sass/screen.scss */
.about-dent {
  margin-bottom: 2.5em;
}
/* line 90, ../../sass/screen.scss */
.about-dent p {
  font-size: 1.125em;
}

/* Works
==============================*/
/* Media Querries
============================================== */
/* height
===================================== */
@media (max-height: 670px) {
  /* line 7, ../../sass/_media-queries.scss */
  .sketchbook_container {
    margin-top: 1em;
  }

  /* line 8, ../../sass/_media-queries.scss */
  #sketchbook_page .row-fluid {
    margin-bottom: 0;
  }
}
/* 480px Smartphones */
@media (max-width: 480px) {
  /* line 14, ../../sass/_media-queries.scss */
  body {
    overflow: hidden;
    /*padding: 1em .25em 2em 1.25em; */
  }

  /* line 19, ../../sass/_media-queries.scss */
  .masthead {
    background-color: #fafaf5;
  }

  /* line 21, ../../sass/_media-queries.scss */
  h1 {
    font-size: 2em;
  }

  /* line 23, ../../sass/_media-queries.scss */
  h3 {
    font-size: 1.25em;
  }

  /* line 25, ../../sass/_media-queries.scss */
  ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-right: .125em;
    padding-left: .125em;
  }

  /* line 31, ../../sass/_media-queries.scss */
  .container-narrow {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 37, ../../sass/_media-queries.scss */
  .container-narrow > hr {
    margin: 1.25em 0;
  }

  /* line 41, ../../sass/_media-queries.scss */
  li {
    padding-bottom: .5em;
  }
}
/* 767 "smartphones and small tablets
========================================= */
/* 768 Portrait tablets
========================================= */
/* ~1100px
========================================= */
/*retnia
========================================= */
