<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title property="dc:title">{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}" />
		<meta name="author" property="dc:creator" content="Shawn Eisenach" />
		
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		
		<!-- Favicons
		================================================== -->
		
		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="http://www.wholewheattoast.com/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="http://www.wholewheattoast.com/bootstrap/css/bootstrap-responsive.css" />

		<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
		
		<!-- Scripts
		================================================== -->
		
		<!-- google analytics -->	
		<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-8121186-5']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
		</script>
		
	</head>

  <body>
    <div id="custom" class="container">
      {{ content }}
    </div>
  </body>
</html>