---
layout: base_full_width
---
	<article class="sketchbook_page">
		<div class="row">
	    	<div class="col-lg-8 col-md-12\">
	    		{{ content }}
	    	</div>
	    	<div class="col-md-4 col-lg-3">
	    		<h1 property="dc:title">{{ page.title }}</h1>
	    		<nav>
			    	<ol class="list-unstyled list-inline">
					    <li>
					        <a class="bare_link" rel="prev" href="{{ page.prev-page }}"> prev</a>
					    </li>
					    <li>
					        <a class="bare_link" rel="contents" href="{{ page.index-page }}">index</a>
					    </li>
					    <li>
					        <a class="bare_link" rel="next" href="{{ page.next-page }}">next</a>
					    </li>
					</ol>
	    		</nav>
	    	</div>
	    </div>
    </article>