---
layout: base
---
	<div id="sketchbook_page">
		<div class="row-fluid">
	    	<div class="span12">
		    	{{ content }}
	    	</div>
		</div>
		<footer>
	    	<div class="row-fluid">
		    	<div class="span4">
		    		{{ page.title }}
		    	</div>
		    	<nav class="span4 offset2">
				    <div>
				    	<a href="{{ page.index-page }}">index</a>
				    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    	<a href="{{ page.prev-page }}">prev</a>
				    	&nbsp;&nbsp;
				    	<a href="{{ page.next-page }}">next</a>
				    </div>
		    	</nav>
	    	</div>
	    </footer>
    </div>