<!DOCTYPE html>
<html lang="en">
  <head prefix="dc: http://purl.org/dc/terms/">
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="dc.title" content="{{ page.title }}" /> 
    <meta name="dc.creator" content="Shawn Eisenach" />
    <meta name="dc.description" content="{{ page.description }}" />
    <meta name="dc.type" content="Text" /> 
    <meta name="dc.format" content="text/html" /> 
    <meta name="dc.identifier" content="http://www.wholewheattoast.com/{{ page.stub }}" />
    <meta name="dc.modified" content="{{ site.time | date_to_xmlschema }}" />
    <meta name="dc.created" content="{{ page.date }}" />
    <meta name="dc.language" content="en" />
    
    <link href='{{site.url}}/feed.xml' rel='alternate' type='application/atom+xml'>
    
    <link href="http://www.flickr.com/photos/wholewheattoast/" rel="me">
    <link href="https://twitter.com/wholewheattoast" rel="me">
    <link href="https://github.com/wholewheattoast" rel="me">
    <link href="http://instagram.com/wholewheattoast" rel="me">
    <link href="http://pinboard.in/u:wholewheattoast" rel="me">
    <link href="http://wholewheattoast.tumblr.com" rel="me">

    <link rel="pingback" href="https://webmention.io/www.wholewheattoast.com/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/www.wholewheattoast.com/webmention" />

    <link rel="authorization_endpoint" href="https://indieauth.com/auth">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="/image/favicon.ico">

    <!-- CSS -->
    <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="h-card vcard {{page.nav-1}}" prefix="dc: http://purl.org/dc/terms/" id="full_width" data-this-top-nav="{{page.nav-1}}">

    <div class="wrapper">
      {% include site_header_grid.ext %}
      <div class="site-content" role="main">
        {{ content }}
      </div>
      {% include site_footer_grid.ext %}
    </div>

  </body>
</html>
