---
layout: base_full_width
---

<div id="Portfolio_page" resource="{{ page.stub }}">
    <div class="row">
        <div class="col-md-6 col-sm-8">
            <p>{{ content }}</p>
        </div>
        <div class="col-md-4 col-md-offset-1 col-sm-4">
            <h1 property="dc:title"><em>{{ page.title }}</em></h1>
            <dl>
                <dt>Media</dt>
                <dd><span property="dc:medium">{{ page.media }}</span></dd>

                <dt>Size</dt>
                <dd><span property="dc:extent">{{ page.size }}</span></dd>

                <dt>Date</dt>
                <dd><span property="dc:created">{{ page.date }}</span></dd>
            </dl>

            {% include nav_with_index.ext %}
        
        </div>
    </div>
</div>