---
layout: base_grid
---

<article class="entry h-entry blog-post">
  <header class="entry-header">
    <h2>
      <a class="permalink u-url bare-link" href="{{site.baseurl}}{{post.url}}" title="permalink | {{page.title}}">
        <time class="dt-published" datetime="{{page.date|date:"%F"}}">
          {{page.date|date:"%b %d, %Y"}}
        </time>
      </a>
    </h2>
  </header>

  <section class="e-content entry-content">
    {{ content }}
  </section>

  <footer class="entry-footer">
    {% if page.tags %}
      <ul class="list-unstyled list-inline tags">
        {% assign sorted_tags = page.tags | sort:last %}
        {% for tag in sorted_tags %}
          <li>
            <a href="/tag/{{tag}}" class="tag">{{tag}}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </footer>

  <nav class="blog-pagination">
    <!-- 
      Showing buttons to move to the next and to the previous list of posts (pager buttons).
    -->
    <ul class="list-inline">
    {% if page.previous.url %}
      <li class="prev">
        <a rel="prev" title="previous post" href="{{page.previous.url}}">
          &larr; {{page.previous.title}}
        </a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li class="next">
        <a rel="next" title="next post" href="{{page.next.url}}">
          {{page.next.title}} &rarr;
        </a>
      </li>
    {% endif %}
  </nav>

</article>
