---
layout: base_full_width
---

<article class="post h-entry">
  <div class="row">
    <div class="col-md-8 ">
      <header>
        <h1>
          <a class="permalink u-url" href="{{site.baseurl}}{{post.url}}" title="permalink | {{page.title}}">
            <time class="dt-published" datetime="{{page.date|date:"%F"}}">
              {{page.date|date:"%b %d, %Y"}}
            </time>
          </a>
        </h1>
      </header>
      
      <section class="e-content">
        {{ content }}
      </section>

      <footer>
        {% if page.tags %}
          <ul class="list-unstyled">
            {% assign sorted_tags = (page.tags | sort:last) %}
            {% for tag in sorted_tags %}
              <li>
                <a href="/tag/{{ tag }}" class="tag">{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        <p>
          <a href="{{site.baseurl}}/blog/archive.html" rel="archives">archive</a>
        </p>
      </footer>

    </div>
  </div>

</article>
