---
layout: base_grid
---

<article resource="{{ page.stub }}">
  <h2 property="dc:title">{{ page.title }}</h2>

  <p><span property="dc:description">{{ page.description }}</span></p>

  <ul class="list-unstyled">
      <li><span property="dc:extent">{{ page.pages }} pages</span></li>
      <li><span property="dc:medium">{{ page.media }}</span></li>
      <li><span property="dc:format">{{ page.size }} inches</span></li>
      <li><span property="dc:date">{{ page.date }}</span></li>
  </ul>

  {% if page.buy %}
  <p>
    <a href="http://{{ page.buy }}">Buy</a>
  </p>
  {% endif %}

  {%if page.extra %}
  <p>
    {{ page.extra }}
  </p>
  {% endif %}

  {{ page.content }}

</article>
