---
layout: base
title: Etching Workshop CCSF Fall 2013
description: Resources for Etching Workshop CCSF Fall 2013 taught by Shawn Eisenach
stub: teaching/ccsf/etching_workshop_Fall_2013.html
date: 2013-09-14
---

{% include menu.ext %}

<div class="row-fluid">
	<header class="span12">
		<h1>CCSF Fall 2013<br/>
			Beginning Etching Workshop</h1>
	</header>
</div>

<div class="row-fluid">
	<div class="span6 offset3">
		<h2>When / Where</h2>
		<p>
			Tuesdays 6:30 to 9:30 PM<br/>
			September 24th to November 26th<br/>
			<a class="hide_link_print" href="https://maps.google.com/maps?q=Fort+Mason+Center,+Golden+Gate+National+Recreation+Area,+Marina+Blvd,+San+Francisco,+California+94123&hl=en&ll=37.806966,-122.431013&spn=0.001464,0.004047&sll=37.269174,-119.306607&sspn=13.049074,33.156738&geocode=Fd_fQAIdz9az-A&hnear=Fort+Mason+Center,+Marina+Blvd,+San+Francisco,+California+94123&t=m&z=19&iwloc=4764892890660691674">Fort Mason, Bldg B Rm: 208</a>
		</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 offset3">
		<h2>Contact</h2>
		<p>
			Shawn Eisenach<br />
			<i class="icon-mobile-phone"> </i> <a hreff="tel:+17074840051">707-484-0051</a><br />
			<i class="icon-envelope"> </i> <a href="mailto:shawn@wholewheattoast.com">shawn@wholewheattoast.com</a>
		</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6 offset3">
		<h2>Handouts</h2>
		<ul class="unstyled">
			<li><a href="/teaching/drypoint.html">Drypoint</a></li>
			<li><a href="/teaching/etching.html">Etching / Intaglio Printing</a></li>
			<li>Aquatint</li>
			<li><a href="/teaching/sugarlift.html">Sugar-lift</a></li>
			<li>Clean up</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<section class="span4 offset2">
		<h2>Materials</h2>
		<div>	
			<h3>Required</h3>
			<ul>
				<li>Etching Needle</li>
				<li>Round #2 Brush</li>
				<li>Round #4 Brush</li>
				<li>1 Yard Tarletan wipe</li>
				<li>Paper (Rives BFK, German Etch, Stonehenge, etc)</li>
				<li>Plates (zinc for etching, copper for drypoint)</li>
				<li>Newsprint</li>
			</ul>
		</div>
		<div>
			<h3>Recommended</h3>
			<ul>
				<li>Scraper</li>
				<li>Burnisher</li>	
				<li>Diamond or Carbide Tipped Scribe</li>
				<li>Jewelers Loupe</li>
			</ul>
		</div>
	</section>

	<section class="span4">
		{% include etching_supplies_vender_list.ext %}
	</section>
</div>

<section>
	<div class="row-fluid">
		<div class="span6 offset3">
			<h2>Schedule</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
			<h3>9/24 Intro &amp; Drypoint </h3>
			<ol>
				<li>Intro to class &amp; shop</li>
				<li>Set up shelves / collect fees</li>
				<li>Drypoint (plexi) demo</li>
				<li>Intaglio printing demo</li>
				<li>Paper demo (soaking, tearing, wet pack)</li>
				<li>Prep for next week</li>
			</ol>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>10/01 Line Etch</h3>
				<ol>
					<li>Zinc plate prep</li>
					<li>Grounding a plate</li>
					<li>Drawing on plate</li>
					<li>Etching demo</li>
				</ol>
			</div>
		</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>10/08</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>10/15</h3>
			</div>
		</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>10/22</h3>
			</div>
		</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>10/29</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>11/05</h3>
			</div>
		</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>11/12</h3>
			</div>
		</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>11/19</h3>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 offset3">
				<h3>11/26 Final Printing &amp; Cleanup</h3>
			</div>
		</div>
</section>