---
layout: base_full_width
title: Etching Workshop CCSF Fall 2014
description: Resources for Etching Workshop CCSF Fall 2014 taught by Shawn Eisenach
stub: teaching/ccsf/etching-workshop-fall-2014.html
date: 2014-09-19
---

<div class="row">
    <header class="col-md-12">
        <h1>CCSF Fall 2014<br/>
            Etching Workshop</h1>
    </header>
</div>

<div class="row">

    <div class="col-md-6">
        <h2>When / Where</h2>
        <p>
            Tuesdays 6:00 to 10:00 PM<br/>
            September 16th to November 11th (<small>9 Meetings</small>)<br/>
            Fort Mason, Bldg B  Rm: 208
        </p>
    </div>
    <div class="col-md-6">
        <h2>Registration</h2>
        <dl class="dl-horizontal">
            <dt>ClS#</dt> <dd>AR923</dd>
            <dt>Cost:</dt> <dd>$280</dd>
            <dt>Materials Fee:</dt> <dd>$15</dd>
        </dl>
        <p>
            <a href="/files/regform.pdf"><i class="icon-file"></i> Download Registration Form</a>
        </p>
        <p>
            <a href="https://www.evolveww.com/ce.ccsf">Online Registration</a>
        </p>
        <p>
            <a href="http://www.ccsf.edu/Services/Continuing_Education/">CCSF Continuing Education</a> home page
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {% include contact_info.ext %}
    </div>
    <div class="col-md-6">
        {% include intaglio_handouts.ext %}
    </div>
</div>
<div class="row">
    <section class="col-md-6">
        <h2>Materials</h2>
        <div>   
            <h3>Required</h3>
            <ul>
                <li>Etching Needle</li>
                <li>Round #2 Brush</li>
                <li>Round #4 Brush</li>
                <li>1 Yard Tarletan wipe</li>
                <li>Paper (Rives BFK, German Etch, Stonehenge, etc) <span class="accent">*</span></li>
                <li>Etching Plates (zinc for etching) <span class="accent">*</span></li>
                <li>Large Pad of Newsprint</li>
            </ul>
        </div>
        <div>
            <h3>Recommended</h3>
            <ul>
                <li>Scraper</li>
                <li>Burnisher</li>  
                <li>Jewelers Loupe</li>
                <li>Sharpie</li>
                <li>Portfolio</li>
                <li>Gloves <span class="accent">*</span></li>
            </ul>
        </div>

        <small><span class="accent">*</span> materials available to purchase in class</small>
    </section>

    <section class="col-md-6">
        {% include etching_supplies_vender_list.ext %}
    </section>
</div>